<body>
    <header>
        <div class="nav-container">
            <img class ='logo' src="/assets/images/nav-bar-page/cf-transparent.png" (click)="scrollToHome()">
            <ul class = "navbar">
                <li (click)="scrollToHome()"><label>home</label></li>
                <li (click)="scrollToExpertise()"><label>expertise</label></li>
                <li (click)="scrollToMyWork()"><label>work</label></li>
                <li (click)="scrollToExperiences()"><label>experiences</label></li>
            </ul>
            <div class="links">
                <a href="https://github.com/Christoph5418" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/christopher-fadel-a6b378217/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </header>
</body>