<body>
    <div class="project-name">
        <p>Web Development</p>
        <h1>Portfolio Website</h1>
        <br>
        <br>
        <p><span class="word-spacing">Home > Portfolio</span> <span class="word-spacing"> > </span>Portfolio Website</p>
    </div>

    <br><br><br><br>

    <div class="description">
        <div class="info">
            <label>Created using HTML, CSS, TS, and Angular, my portfolio website displays my skills and projects from my coding career. The home
                page section was created using a 3D graphic design software called Blender. 
            </label>
        </div>
        <div class="other">
            <div class="client">
                <label>Client</label>
                <p>Personal</p>
                <br><br>
                <div class="open">
                    <label><a href="https://github.com/Christoph5418/Portfolio-Website" target="_blank">Open Project<i class="fas fa-arrow-right"></i></a></label>
                </div>

            </div>
            <div class="technology">
                <label>Technologies</label>
                <p>HTML, CSS, TS, Angular</p>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br>

    <div class="images">
        <img class="image" src="/assets/images/portfolio-page/portfolio-blender-pic.png">
        <img class="image" src="/assets/images/portfolio-page/portfolio-home-pic.png">
        <img class="image" src="/assets/images/portfolio-page/portfolio-expertise-pic.png">
        <img class="image" src="/assets/images/portfolio-page/portfolio-projects-pic.png">
        <img class="image" src="/assets/images/portfolio-page/portfolio-experiences-pic.png">
    </div>



</body>

<div class="next-project">
    <div class="project-info">
        <div class="line">
            <label>Next Project</label>
            <div><i routerLink="/s-and-p-tracker" id="left" class="fas fa-arrow-left"></i></div>
            <div><i routerLink="/mirnas-website" id="right" class="fas fa-arrow-right"></i></div>
        </div>
    
        <label id="next">Mirna's Cafe</label>
    </div>

</div>

<br><br><br><br>
<br><br><br><br>