<body>
    <div class="project-name">
        <p>Web Development</p>
        <h1>Mirna's Cafe Website</h1>
    </div>

    <div class="description">
        <div class="info">
            <label>Mirna's Cafe is a local Italian and Mediterranean restaurant in Blue Bell, PA. I created a 
                website where customers can easily read more about menus, location, and dining experience. Through
                clean UI, it provides a easy to follow UX where one may book private parties or get in contact with
                the restaurant.
            </label>
        </div>
        <div class="other">
            <div class="client">
                <label>Client</label>
                <p>Mirna's Cafe</p>
                <br><br>
                <div class="open">
                    <label><a href="https://mirnascafe.com/" target="_blank">Open Project<i class="fas fa-arrow-right"></i></a></label>
                </div>

            </div>
            <div class="technology">
                <label>Technologies</label>
                <p>HTML, CSS, TS, Angular</p>
            </div>
        </div>
    </div>

    <div class="images">
        <img class="image" src="/assets/images/mirnas-page/mirnas-front-page-picture.png">
        <img class="image" src="/assets/images/mirnas-page/mirnas-private-party-picture.png">
        <img class="image" src="/assets/images/mirnas-page/mirnas-menu-picture.png">
        <img class="image" src="/assets/images/mirnas-page/mirnas-book-picture.png">
        <img class="image" src="/assets/images/mirnas-page/mirnas-order-picture.png">
        <img class="image" src="/assets/images/mirnas-page/mirnas-reserve-section-picture.png">
    </div>



</body>

<div class="next-project">
    <div class="project-info">
        <div class="line">
            <label>Next Project</label>
            <div><i routerLink="/portfolio-website" id="left" class="fas fa-arrow-left"></i></div>
            <div><i routerLink="/rohedge" id="right" class="fas fa-arrow-right"></i></div>
        </div>
    
        <label id="next">Rohedge</label>
    </div>

</div>

<br><br><br><br>
<br><br><br><br>